@model IEnumerable<Tasks.Models.Products>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a href="javascript:void(0);" onclick="loadCreate()">Create New</a>
</p>

<div id="productList">
    @await Html.PartialAsync("_ProductList", Model)
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function loadDetails(id) {
        $.get('/Products/Details/' + id, function (data) {
            $('#productList').html(data);
        });
    }

    function loadEdit(id) {
        $.get('/Products/Edit/' + id, function (data) {
            $('#productList').html(data);
        });
    }

    function loadDelete(id) {
        $.get('/Products/Delete/' + id, function (data) {
            $('#productList').html(data);
        });
    }

    function loadCreate() {
        $.get('/Products/Create', function (data) {
            $('#productList').html(data);
        });
    }

    $(document).on('submit', 'form', function (e) {
        e.preventDefault();
        var form = $(this);
        var url = form.attr('action');
        var method = form.attr('method');

        $.ajax({
            url: url,
            method: method,
            data: form.serialize(),
            success: function (data) {
                $('#productList').html(data);
            }
        });
    });
</script>
